@(filterType: String, formName:String, label: String, name: String, formWizardFilter: String, filterName: String)

@if(filterType == "String"){
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label class="control-label">@label</label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <select class="selectpicker show-tick show-menu-arrow" data-style="btn-sm" data-width="auto" name="@name" id="@(formName+"_"+name)" data-live-search="false"
                ng-model="@(formWizardFilter+"."+filterName)" title="No Filter" ng-change="@(formName+"."+name)=[]">
                <option value="" ng-selected="true">No Filter</option>
                @if(name == "username"){
                    <option ng-repeat="s in UserNameFilterList | orderBy:'label' track by s.id" value="{{s.id}}">{{s.label}}</option>
                }
                @if(name != "username"){
                    <option ng-repeat="s in StringFilterList | orderBy:'label' track by s.id" value="{{s.id}}">{{s.label}}</option>
                }
            </select>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-if="@(formWizardFilter+"."+filterName) !='No Filter'">
        <span ng-if="@(formWizardFilter+"."+filterName) =='17' || @(formWizardFilter+"."+filterName) =='18'">
            <input type="hidden" class="form-control input-sm" ng-model="@(formName+"."+name+"[0]")" readonly>
        </span>
        <span ng-else-if="@(formWizardFilter+"."+filterName) =='15' || @(formWizardFilter+"."+filterName) =='16'">
            <input type="text" class="form-control input-sm" ng-model="@(formName+"."+name)" ng-list placeholder="@label">
        </span>
        <span ng-else-if="@(formWizardFilter+"."+filterName) == null || @(formWizardFilter+"."+filterName) == ''">
        </span>
        <span ng-else>
            <input type="text" class="form-control input-sm" ng-model="@(formName+"."+name+"[0]")" placeholder="@label">
        </span>
    </div>
}

@if(filterType == "Number") {
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label class="control-label">@label</label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <select class="selectpicker show-tick show-menu-arrow" data-style="btn-sm" data-width="auto" name="@name" id="@(formName+"_"+name)" data-live-search="false"
                ng-model="@(formWizardFilter+"."+filterName)" title="No Filter" ng-change="@(formName+"."+name)=[]">
                <option value="" ng-selected="true">No Filter</option>
                <option ng-repeat="n in NumberFilterList | orderBy:'label' track by n.id" value="{{n.id}}">{{n.label}}</option>
            </select>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="@(formWizardFilter+"."+filterName) !='No Filter'">
        <div ng-if="@(formWizardFilter+"."+filterName) =='13' || @(formWizardFilter+"."+filterName) =='14'">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 zero-padding">
                <input type="text" class="form-control input-sm" ng-model="@(formName+"."+name+"[0]")" placeholder="From">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 zero-padding">
                <input type="text" class="form-control input-sm" ng-model="@(formName+"."+name+"[1]")" placeholder="TO">
            </div>
        </div>
        <span class="col-lg-8 col-md-8 col-sm-8" ng-else-if="@(formWizardFilter+"."+filterName) =='17' || @(formWizardFilter+"."+filterName) =='18' ">
            <input type="hidden" class="form-control input-sm" ng-model="@(formName+"."+name+"[0]")" readonly>
        </span>
        <span ng-else-if="@(formWizardFilter+"."+filterName) =='9' || @(formWizardFilter+"."+filterName) =='10'">
            <input type="text" class="form-control input-sm" ng-model="@(formName+"."+name)" ng-list placeholder="@label">
        </span>
        <span ng-else-if="@(formWizardFilter+"."+filterName) == null || @(formWizardFilter+"."+filterName) == ''">
        </span>
        <span ng-else>
            <input type="text" class="form-control input-sm" ng-model="@(formName+"."+name+"[0]")" placeholder="@label">
        </span>
    </div>
}

@if(filterType == "Date") {
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label class="control-label">@label</label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <select class="selectpicker show-tick show-menu-arrow" data-style="btn-sm" data-width="auto" name="@name" id="@(formName+"_"+name)" data-live-search="false"
                ng-model="@(formWizardFilter+"."+filterName)" title="No Filter" ng-change="@(formName+"."+name)=[]">
                <option value="" ng-selected="true">No Filter</option>
                <option ng-repeat="d in NumberFilterList | orderBy:'label' track by d.id" value="{{d.id}}">{{d.label}}</option>
            </select>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="@(formWizardFilter+"."+filterName) !='No Filter'">
        <div ng-if="@(formWizardFilter+"."+filterName) =='13' || @(formWizardFilter+"."+filterName) =='14'">

            <div class="input-group input-daterange"
                data-provide="datepicker"
                data-date-clear-btn="true"
                data-date-format="yyyy/mm/dd">

                <input type="text" id="dateFrom" class="form-control input-sm" ng-model="@(formName+"."+name+"[0]")">
                <span class="input-group-addon">to</span>
                <input type="text" id="dateTo" class="form-control input-sm" ng-model="@(formName+"."+name+"[1]")">

            </div>
            @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 zero-padding">
                <input type="text" class="form-control input-sm" ng-model="@(name+"1")" placeholder="From"
                    ng-click="open1($event)"
                    ng-change="pickDate1(dob1)"
                    uib-datepicker-popup="{{format}}"
                    is-open="popup1.opened"
                    datepicker-options="dateOptions"
                    show-button-bar="true"
                    close-text="Close"
                    alt-input-formats="altInputFormats"
                >
                <input type="hidden" ng-model="@(formName+"."+name+"[0]")" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 zero-padding">
                <input type="text" class="form-control input-sm" ng-model="@(name+"2")" placeholder="TO"
                    ng-click="open2($event)"
                    ng-change="pickDate2(dob2)"
                    uib-datepicker-popup="{{format}}"
                    is-open="popup2.opened"
                    min-date="@(name+"1")"
                    datepicker-options="dateOptions"
                    show-button-bar="true"
                    close-text="Close"
                    alt-input-formats="altInputFormats"
                >
                <input type="hidden" ng-model="@(formName+"."+name+"[1]")" />
            </div>*@
        </div>
        <span class="col-lg-8 col-md-8 col-sm-8" ng-else-if="@(formWizardFilter+"."+filterName) =='17' || @(formWizardFilter+"."+filterName) =='18' ">
            <input type="hidden" class="form-control input-sm" ng-model="@(formName+"."+name+"[0]")" readonly>
        </span>
        <span ng-else-if="@(formWizardFilter+"."+filterName) == null || @(formWizardFilter+"."+filterName) == ''"></span>
        <span ng-else-if="@(formWizardFilter+"."+filterName) =='15' || @(formWizardFilter+"."+filterName) =='16'">
            @*<span class="input-group">
                <md-chips ng-model="@(formName+"."+name)"></md-chips>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </span>*@
            @*<my-datepicker type="text" ng-model="@(formName+"."+name)"/>*@
            @*<date-picker ng-model="@(formName+"."+name)"></date-picker>*@

            <div class="input-group date"
                data-provide="datepicker"
                data-date-multidate="true"
                data-date-clear-btn="true"
                data-date-format="yyyy/mm/dd"
                >

                <input type="text" id="multipleDate" class="form-control input-sm" ng-model="@(formName+"."+name)">

                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>

            </div>
            @*<input type="hidden" ng-model="@(name+"In")"
                ng-change="pushDate(dobIn)"
                uib-datepicker-popup="{{format}}"
                is-open="popup1.opened"
                datepicker-options="dateOptions"
                show-button-bar="true"
                close-on-date-selection="false"
                close-text="Close"
                alt-input-formats="altInputFormats"
            >*@
            @*<div class="input-group input-group-sm" uib-dropdown>
                <tags-input ng-model="tags" display-property="value" placeholder="Pick A Date" replace-spaces-with-dashes="false"
                    class="ti-input-sm" ng-click="calendar.open($event, 'dob')"
                >
                </tags-input>
                <span class="input-group-addon" uib-dropdown-toggle style="cursor: pointer;*cursor: hand;">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </span>
                <ul class="uib-dropdown-menu">
                    <li role="menuitem"><a href="#">2015/12/12 &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-remove"></span></a></li>
                </ul>
            </div>
            <input type="hidden" ng-model="@(formName+"."+name+"In")"
                uib-datepicker-popup="{{calendar.dateFormat}}"
                is-open="calendar.opened.dob"
                datepicker-options="calendar.dateOptions"
                show-weeks="false"
                custom-class="getDayClass(date, mode)"
                show-button-bar="true"
                close-on-date-selection="false"
                close-text="Close"
            >*@
        </span>
        <div ng-else>
            <div class="input-group date"
                data-provide="datepicker"
                data-date-multidate="false"
                data-date-clear-btn="true"
                data-date-format="yyyy/mm/dd"
                autoclose="true"
            >

                <input type="text" id="dobDate" class="form-control input-sm" ng-model="@(formName+"."+name+"[0]")">

                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>

            </div>
            @*<span class="input-group">
                <input type="text" class="form-control input-sm"
                    ng-model="@(name)"
                    placeholder="@label"
                    ng-change="pickDate1(dob)"
                    uib-datepicker-popup="{{format}}"
                    is-open="popup2.opened"
                    datepicker-options="dateOptions"
                    show-button-bar="true"
                    close-text="Close"
                    alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-sm btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </span>*@
            @*<input type="hidden" ng-model="@(formName+"."+name+"[0]")" />*@
        </div>
    </div>
    <script>
            $('.input-daterange input').each(function() {
                $(this).datepicker("clearDates");
            });

            $('.datepicker').datepicker();
    </script>
}